/* .THIS .mc-card-filter {
    background-color: #bfc7c5;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px; 
    margin-bottom: 2rem;
  } */

  .THIS .mc-card-filter-results {
    background-color: #f7f7f7;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px; 
    margin-bottom: 2rem;
  }

  .THIS .container {
    display: flex;
    flex: 1 0 auto;
  }

  .THIS .mc-card-filter { 
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px; 
    border-style: solid;
    border-width: 1px; 
    border-color: var(--slds-g-color-border-base-4, var(--lwc-colorBorderInput,#D4D4D4));
    margin-bottom: 1rem;
}

.THIS .slds-pill__remove {
  display: none !important;
}