* {
    margin: 0;
    padding: 0;
}
        
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    /* background-color: white; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(114, 114, 114, 0.19); */
}

.containerCard {
    margin-top: 20px;
}

.slds-form-element__label{
    font-weight: 700;
}

.grid{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}

.title{
    font-size: 20px;
    font-weight: 600;
}

.option-text{
    font-size: 14px;
}