/* * {
    margin: 0;
    padding: 0;
} */

/* .container {
    background-color: #ffffff;
} */

/* .custom-box {
    border: none;
} */

.row {
    overflow: hidden;
} 
  
.col-a {
    /* float: left;
    padding-bottom: 100%;
    margin-bottom: -100%; */

    /* margin-right: 15px; */
    margin-top: 25px;
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(114, 114, 114, 0.19); */
}

.col-b {
    /* float: left;
    padding-bottom: 100%;
    margin-bottom: -100%; */

    margin-right: 15px;
    margin-top: 25px;
    background-color: white;
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); */
}

.selectUmus {
    margin-top: 45px;
    margin-right: 10px;
    margin-left: 10px;
}

.opcionesPedidos {
    margin-right: 10px;
    margin-left: 10px;
}

.pedidoOrdinario {
    margin-right: 10px;
    margin-left: 10px;
}

.pedidoNoOrdinario {
    margin-right: 10px;
    margin-left: 10px;
}

.pedidosEspeciales {
    margin-right: 10px;
    margin-left: 10px;
}

.textPedidos {
    margin: 8px;
    font-size: 18px;
}